.toggle-button {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 40px;
    background: transparent;
    position: center;
    border : none;
    cursor: pointer;
    float: right;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-around;
}
.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 30px;
    height: 2px;
    background: white;
}
