.side-drawer {
    height: inherit;
    background: white;
    box-shadow: 2px 0px 5px gray;
    position: fixed;
    top: 64px;
    right: 0;
    float: left;
    width: 55%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}

.side-drawer.open {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 1rem;
}

.side-drawer li {
    margin: 0.5rem 0;
    border: black solid medium dot-dash;
}
.side-drawer a {
    color: gray;
    text-decoration: none;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: gray;
}

@media(min-width: 769px) {
    .side-drawer {
        display: none;
    }
}

.list-nav {
    margin: 0;
    display: block;
}

.cross-bar {
    position: relative;
    font-size: 20px;
}
